In [2]:
import numpy as np
import pandas as pd

In [3]:
import tensorflow as tf

In [4]:
combined_set = pd.read_csv('TimeBasedFeatures-Dataset-15s-AllinOne.csv')

In [5]:
for feature in combined_set.columns: # Loop through all columns in the dataframe
    if combined_set[feature].dtype == 'object': # Only apply for columns with categorical strings
        combined_set[feature] = pd.Categorical(combined_set[feature]).codes

In [6]:
data2 = combined_set

In [7]:
shuffled = data2.sample(frac=1)

In [8]:
predictors = shuffled.iloc[:,:-1]

In [9]:
targets = shuffled.iloc[:,-1]

In [10]:
trainsize = int(len(shuffled['class1']) * 0.8)

In [11]:
testsize = len(shuffled['class1']) - trainsize
npredictors = len(predictors.columns)
noutputs = 1
numiter = 10000
modelfile = '/tmp/trained_model'

In [12]:
from __future__ import print_function
from six.moves import cPickle as pickle
from six.moves import range

In [13]:
num_labels = 7
image_size = 23
def reformat(dataset, labels):
  dataset = dataset.values
  # Map 0 to [1.0, 0.0, 0.0 ...], 1 to [0.0, 1.0, 0.0 ...]
  labels = (np.arange(num_labels) == labels[:,None]).astype(np.float32)
  return dataset, labels
train_dataset, train_labels = reformat(predictors[:trainsize], targets[:trainsize])
valid_dataset, valid_labels = reformat(predictors[trainsize:trainsize + testsize / 2], targets[trainsize:trainsize + testsize / 2])
test_dataset, test_labels = reformat(predictors[trainsize + testsize / 2:], targets[trainsize + testsize / 2:])
print('Training set', train_dataset.shape, train_labels.shape)
print('Validation set', valid_dataset.shape, valid_labels.shape)
print('Test set', test_dataset.shape, test_labels.shape)

Training set (15006, 23) (15006, 7)
Validation set (1876, 23) (1876, 7)
Test set (1876, 23) (1876, 7)
Training set (15006, 23) (15006, 7)
Validation set (1876, 23) (1876, 7)
Test set (1876, 23) (1876, 7)

In [14]:
train_subset = 15006
graph = tf.Graph()
with graph.as_default():
  tf_train_dataset = tf.constant(train_dataset[:train_subset, :].astype(np.float32))
  tf_train_labels = tf.constant(train_labels[:train_subset])
  tf_valid_dataset = tf.constant(valid_dataset.astype(np.float32))
  tf_test_dataset = tf.constant(test_dataset.astype(np.float32))
  weights = tf.Variable(
    tf.truncated_normal([image_size, num_labels]))
  biases = tf.Variable(tf.zeros([num_labels]))
  logits = tf.matmul(tf_train_dataset, weights) + biases
  loss = tf.reduce_mean(
    tf.nn.softmax_cross_entropy_with_logits(logits, tf_train_labels))
  optimizer = tf.train.GradientDescentOptimizer(0.5).minimize(loss)
  train_prediction = tf.nn.softmax(logits)
  valid_prediction = tf.nn.softmax(
    tf.matmul(tf_valid_dataset, weights) + biases)
  test_prediction = tf.nn.softmax(tf.matmul(tf_test_dataset, weights) + biases)

In [15]:
num_steps = 801
def accuracy(predictions, labels):
  return (100.0 * np.sum(np.argmax(predictions, 1) == np.argmax(labels, 1))
          / predictions.shape[0])
with tf.Session(graph=graph) as session: 
  tf.initialize_all_variables().run()
  print('Initialized')
  for step in range(num_steps):
    _, l, predictions = session.run([optimizer, loss, train_prediction])
    if (step % 100 == 0):
      print('Loss at step %d: %f' % (step, l))
      print('Training accuracy: %.1f%%' % accuracy(
        predictions, train_labels[:train_subset, :]))
      print('Validation accuracy: %.1f%%' % accuracy(
        valid_prediction.eval(), valid_labels))
  print('Test accuracy: %.1f%%' % accuracy(test_prediction.eval(), test_labels))

Initialized
Loss at step 0: 15968755.000000
Training accuracy: 30.9%
Validation accuracy: 26.4%
Initialized
Loss at step 0: 15968755.000000
Training accuracy: 30.9%
Validation accuracy: 26.4%
Loss at step 100: 3065381126144.000000
Training accuracy: 47.1%
Validation accuracy: 32.5%
Loss at step 100: 3065381126144.000000
Training accuracy: 47.1%
Validation accuracy: 32.5%
Loss at step 200: 15248485515264.000000
Training accuracy: 35.5%
Validation accuracy: 41.6%
Loss at step 200: 15248485515264.000000
Training accuracy: 35.5%
Validation accuracy: 41.6%
Loss at step 300: 4114921029632.000000
Training accuracy: 48.7%
Validation accuracy: 48.3%
Loss at step 300: 4114921029632.000000
Training accuracy: 48.7%
Validation accuracy: 48.3%
Loss at step 400: 13390432960512.000000
Training accuracy: 55.1%
Validation accuracy: 24.1%
Loss at step 400: 13390432960512.000000
Training accuracy: 55.1%
Validation accuracy: 24.1%
Loss at step 500: 4474676969472.000000
Training accuracy: 50.0%
Validation accuracy: 42.7%
Loss at step 500: 4474676969472.000000
Training accuracy: 50.0%
Validation accuracy: 42.7%
Loss at step 600: 4964877860864.000000
Training accuracy: 45.3%
Validation accuracy: 56.4%
Loss at step 600: 4964877860864.000000
Training accuracy: 45.3%
Validation accuracy: 56.4%
Loss at step 700: 9989921964032.000000
Training accuracy: 52.3%
Validation accuracy: 37.7%
Loss at step 700: 9989921964032.000000
Training accuracy: 52.3%
Validation accuracy: 37.7%
Loss at step 800: 3553349074944.000000
Training accuracy: 43.8%
Validation accuracy: 53.4%
Test accuracy: 53.3%
Loss at step 800: 3553349074944.000000
Training accuracy: 43.8%
Validation accuracy: 53.4%
Test accuracy: 53.3%

In [16]:
batch_size = 128
graph = tf.Graph()
train_dataset = train_dataset.astype(np.float32)
valid_dataset = valid_dataset.astype(np.float32)
test_dataset = test_dataset.astype(np.float32)
with graph.as_default():
  tf_train_dataset = tf.placeholder(tf.float32,
                                    shape=(batch_size, image_size))
  tf_train_labels = tf.placeholder(tf.float32, shape=(batch_size, num_labels))
  tf_valid_dataset = tf.constant(valid_dataset)
  tf_test_dataset = tf.constant(test_dataset)
  weights = tf.Variable(
    tf.truncated_normal([image_size, num_labels]))
  biases = tf.Variable(tf.zeros([num_labels]))
  logits = tf.matmul(tf_train_dataset, weights) + biases
  loss = tf.reduce_mean(
    tf.nn.softmax_cross_entropy_with_logits(logits, tf_train_labels))
  optimizer = tf.train.GradientDescentOptimizer(0.5).minimize(loss)
  train_prediction = tf.nn.softmax(logits)
  valid_prediction = tf.nn.softmax(
    tf.matmul(tf_valid_dataset, weights) + biases)
  test_prediction = tf.nn.softmax(tf.matmul(tf_test_dataset, weights) + biases)

In [17]:
num_steps = 3001
with tf.Session(graph=graph) as session:
  tf.initialize_all_variables().run()
  print("Initialized")
  for step in range(num_steps):
    offset = (step * batch_size) % (train_labels.shape[0] - batch_size)
    batch_data = train_dataset[offset:(offset + batch_size), :]
    batch_labels = train_labels[offset:(offset + batch_size), :]
    feed_dict = {tf_train_dataset : batch_data, tf_train_labels : batch_labels}
    _, l, predictions = session.run(
      [optimizer, loss, train_prediction], feed_dict=feed_dict)
    if (step % 500 == 0):
      print("Minibatch loss at step %d: %f" % (step, l))
      print("Minibatch accuracy: %.1f%%" % accuracy(predictions, batch_labels))
      print("Validation accuracy: %.1f%%" % accuracy(
        valid_prediction.eval(), valid_labels))
  print("Test accuracy: %.1f%%" % accuracy(test_prediction.eval(), test_labels))

Initialized
Minibatch loss at step 0: 41860256.000000
Minibatch accuracy: 10.2%
Validation accuracy: 48.9%
Initialized
Minibatch loss at step 0: 41860256.000000
Minibatch accuracy: 10.2%
Validation accuracy: 48.9%
Minibatch loss at step 500: 26188967837696.000000
Minibatch accuracy: 25.0%
Validation accuracy: 47.7%
Minibatch loss at step 500: 26188967837696.000000
Minibatch accuracy: 25.0%
Validation accuracy: 47.7%
Minibatch loss at step 1000: 14405175607296.000000
Minibatch accuracy: 50.0%
Validation accuracy: 24.8%
Minibatch loss at step 1000: 14405175607296.000000
Minibatch accuracy: 50.0%
Validation accuracy: 24.8%
Minibatch loss at step 1500: 5069009321984.000000
Minibatch accuracy: 52.3%
Validation accuracy: 42.1%
Minibatch loss at step 1500: 5069009321984.000000
Minibatch accuracy: 52.3%
Validation accuracy: 42.1%
Minibatch loss at step 2000: 7049229369344.000000
Minibatch accuracy: 54.7%
Validation accuracy: 47.8%
Minibatch loss at step 2000: 7049229369344.000000
Minibatch accuracy: 54.7%
Validation accuracy: 47.8%
Minibatch loss at step 2500: 5404002091008.000000
Minibatch accuracy: 50.0%
Validation accuracy: 51.3%
Minibatch loss at step 2500: 5404002091008.000000
Minibatch accuracy: 50.0%
Validation accuracy: 51.3%
Minibatch loss at step 3000: 5115023458304.000000
Minibatch accuracy: 55.5%
Validation accuracy: 47.3%
Test accuracy: 48.5%
Minibatch loss at step 3000: 5115023458304.000000
Minibatch accuracy: 55.5%
Validation accuracy: 47.3%
Test accuracy: 48.5%

In [18]:
d1 = pd.read_csv('TimeBasedFeatures-Dataset-15s-AllinOne.csv')

In [19]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [20]:
d1.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [21]:
d1.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [22]:
d2 = pd.read_csv('TimeBasedFeatures-Dataset-30s-AllinOne.csv')

In [23]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14651 entries, 0 to 14650
Data columns (total 24 columns):
duration              14651 non-null int64
total_fiat            14651 non-null int64
total_biat            14651 non-null int64
min_fiat              14651 non-null int64
min_biat              14651 non-null int64
max_fiat              14651 non-null float64
max_biat              14651 non-null float64
mean_fiat             14651 non-null float64
mean_biat             14651 non-null float64
flowPktsPerSecond     14651 non-null float64
flowBytesPerSecond    14651 non-null float64
min_flowiat           14651 non-null int64
max_flowiat           14651 non-null int64
mean_flowiat          14651 non-null float64
std_flowiat           14651 non-null float64
min_active            14651 non-null int64
mean_active           14651 non-null float64
max_active            14651 non-null int64
std_active            14651 non-null float64
min_idle              14651 non-null int64
mean_idle             14651 non-null float64
max_idle              14651 non-null int64
std_idle              14651 non-null float64
class1                14651 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14651 entries, 0 to 14650
Data columns (total 24 columns):
duration              14651 non-null int64
total_fiat            14651 non-null int64
total_biat            14651 non-null int64
min_fiat              14651 non-null int64
min_biat              14651 non-null int64
max_fiat              14651 non-null float64
max_biat              14651 non-null float64
mean_fiat             14651 non-null float64
mean_biat             14651 non-null float64
flowPktsPerSecond     14651 non-null float64
flowBytesPerSecond    14651 non-null float64
min_flowiat           14651 non-null int64
max_flowiat           14651 non-null int64
mean_flowiat          14651 non-null float64
std_flowiat           14651 non-null float64
min_active            14651 non-null int64
mean_active           14651 non-null float64
max_active            14651 non-null int64
std_active            14651 non-null float64
min_idle              14651 non-null int64
mean_idle             14651 non-null float64
max_idle              14651 non-null int64
std_idle              14651 non-null float64
class1                14651 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.7+ MB

In [24]:
d2.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,14651.000000,...,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04
mean,1.629678e+07,1.150692e+06,1.116319e+06,5.764142e+06,5.091318e+06,1.848039e+06,1.710895e+06,1.449869e+06,1.179029e+06,3017.383680,...,1.032363e+06,1.922161e+06,5.176729e+06,6.049654e+06,7.150029e+06,1.081910e+06,4.871742e+06,5.655804e+06,6.650770e+06,9.828476e+05
std,1.925552e+07,4.111790e+06,4.017208e+06,1.344320e+07,1.218500e+07,4.959793e+06,4.295170e+06,5.477288e+06,3.541896e+06,22490.275511,...,2.855625e+06,4.853864e+06,1.613045e+07,1.630465e+07,1.706573e+07,4.046128e+06,1.602510e+07,1.619332e+07,1.691006e+07,3.956407e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.741740e+05,7.000000e+00,1.000000e+00,2.688400e+04,2.467850e+04,9.557019e+03,2.727024e+03,2.225135e+01,0.000000e+00,1.509018,...,9.562078e+03,6.291811e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.623262e+07,5.700000e+01,2.100000e+01,4.204580e+05,4.517050e+05,8.363527e+04,6.125850e+04,1.816745e+04,1.884018e+04,8.729889,...,1.165476e+05,1.440429e+05,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,2.977802e+07,1.105000e+03,4.675000e+02,8.848114e+06,8.907444e+06,9.150805e+05,9.044709e+05,1.048425e+06,1.007539e+06,100.541837,...,5.151427e+05,1.602566e+06,4.204065e+06,7.529336e+06,1.003973e+07,4.454761e+02,3.239750e+06,6.463314e+06,9.902900e+06,4.044638e+02
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,14651.000000,...,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04
mean,1.629678e+07,1.150692e+06,1.116319e+06,5.764142e+06,5.091318e+06,1.848039e+06,1.710895e+06,1.449869e+06,1.179029e+06,3017.383680,...,1.032363e+06,1.922161e+06,5.176729e+06,6.049654e+06,7.150029e+06,1.081910e+06,4.871742e+06,5.655804e+06,6.650770e+06,9.828476e+05
std,1.925552e+07,4.111790e+06,4.017208e+06,1.344320e+07,1.218500e+07,4.959793e+06,4.295170e+06,5.477288e+06,3.541896e+06,22490.275511,...,2.855625e+06,4.853864e+06,1.613045e+07,1.630465e+07,1.706573e+07,4.046128e+06,1.602510e+07,1.619332e+07,1.691006e+07,3.956407e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.741740e+05,7.000000e+00,1.000000e+00,2.688400e+04,2.467850e+04,9.557019e+03,2.727024e+03,2.225135e+01,0.000000e+00,1.509018,...,9.562078e+03,6.291811e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.623262e+07,5.700000e+01,2.100000e+01,4.204580e+05,4.517050e+05,8.363527e+04,6.125850e+04,1.816745e+04,1.884018e+04,8.729889,...,1.165476e+05,1.440429e+05,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,2.977802e+07,1.105000e+03,4.675000e+02,8.848114e+06,8.907444e+06,9.150805e+05,9.044709e+05,1.048425e+06,1.007539e+06,100.541837,...,5.151427e+05,1.602566e+06,4.204065e+06,7.529336e+06,1.003973e+07,4.454761e+02,3.239750e+06,6.463314e+06,9.902900e+06,4.044638e+02
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [25]:
d2.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,22930417,18,4,10995965,10960941,314115.301370,360993.158730,1.306745e+06,1.389355e+06,6.018207,...,952994.511204,1491627,5.011278e+06,11141326,4.507600e+06,1079974,3.668800e+06,10945954,4.855368e+06,CHAT
1,25199304,16,4,11037969,10851858,359269.900000,387414.676923,1.373362e+06,1.392885e+06,5.436658,...,976395.388090,1710925,4.164396e+06,14269600,4.973926e+06,1234883,3.150269e+06,10851858,3.797336e+06,CHAT
2,29772995,17,7,4093396,3956161,261815.256637,310135.364583,6.445422e+05,6.512717e+05,7.086959,...,462297.947930,1363299,2.706523e+06,6192566,1.445372e+06,1147658,1.955468e+06,3956161,8.938483e+05,CHAT
3,29609149,22,6,3954677,3943698,271180.963303,287136.446602,6.685474e+05,6.590460e+05,7.227496,...,472527.270988,1443143,2.937555e+06,4176130,8.769669e+05,1065834,2.022585e+06,3895269,9.303813e+05,CHAT
4,7863522,30,8,2067690,2068091,244213.125000,252051.483871,5.718062e+05,5.628123e+05,8.266016,...,400581.170736,2092947,2.535199e+06,3282729,6.509928e+05,1707343,1.897912e+06,2017289,1.667869e+05,CHAT

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,22930417,18,4,10995965,10960941,314115.301370,360993.158730,1.306745e+06,1.389355e+06,6.018207,...,952994.511204,1491627,5.011278e+06,11141326,4.507600e+06,1079974,3.668800e+06,10945954,4.855368e+06,CHAT
1,25199304,16,4,11037969,10851858,359269.900000,387414.676923,1.373362e+06,1.392885e+06,5.436658,...,976395.388090,1710925,4.164396e+06,14269600,4.973926e+06,1234883,3.150269e+06,10851858,3.797336e+06,CHAT
2,29772995,17,7,4093396,3956161,261815.256637,310135.364583,6.445422e+05,6.512717e+05,7.086959,...,462297.947930,1363299,2.706523e+06,6192566,1.445372e+06,1147658,1.955468e+06,3956161,8.938483e+05,CHAT
3,29609149,22,6,3954677,3943698,271180.963303,287136.446602,6.685474e+05,6.590460e+05,7.227496,...,472527.270988,1443143,2.937555e+06,4176130,8.769669e+05,1065834,2.022585e+06,3895269,9.303813e+05,CHAT
4,7863522,30,8,2067690,2068091,244213.125000,252051.483871,5.718062e+05,5.628123e+05,8.266016,...,400581.170736,2092947,2.535199e+06,3282729,6.509928e+05,1707343,1.897912e+06,2017289,1.667869e+05,CHAT

In [26]:
d3 = pd.read_csv('TimeBasedFeatures-Dataset-60s-AllinOne.csv')

In [27]:
d3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15515 entries, 0 to 15514
Data columns (total 24 columns):
duration              15515 non-null int64
min_fiat              15515 non-null int64
min_biat              15515 non-null int64
max_fiat              15515 non-null int64
max_biat              15515 non-null int64
mean_fiat             15515 non-null float64
mean_biat             15515 non-null float64
std_fiat              15515 non-null float64
std_biat              15515 non-null float64
flowPktsPerSecond     15515 non-null float64
flowBytesPerSecond    15515 non-null float64
min_flowiat           15515 non-null int64
max_flowiat           15515 non-null int64
mean_flowiat          15515 non-null float64
std_flowiat           15515 non-null float64
min_active            15515 non-null int64
mean_active           15515 non-null float64
max_active            15515 non-null int64
std_active            15515 non-null float64
min_idle              15515 non-null int64
mean_idle             15515 non-null float64
max_idle              15515 non-null int64
std_idle              15515 non-null float64
class1                15515 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15515 entries, 0 to 15514
Data columns (total 24 columns):
duration              15515 non-null int64
min_fiat              15515 non-null int64
min_biat              15515 non-null int64
max_fiat              15515 non-null int64
max_biat              15515 non-null int64
mean_fiat             15515 non-null float64
mean_biat             15515 non-null float64
std_fiat              15515 non-null float64
std_biat              15515 non-null float64
flowPktsPerSecond     15515 non-null float64
flowBytesPerSecond    15515 non-null float64
min_flowiat           15515 non-null int64
max_flowiat           15515 non-null int64
mean_flowiat          15515 non-null float64
std_flowiat           15515 non-null float64
min_active            15515 non-null int64
mean_active           15515 non-null float64
max_active            15515 non-null int64
std_active            15515 non-null float64
min_idle              15515 non-null int64
mean_idle             15515 non-null float64
max_idle              15515 non-null int64
std_idle              15515 non-null float64
class1                15515 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.8+ MB

In [28]:
d3.describe()

,duration,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,std_fiat,std_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,...,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04
mean,3.239793e+07,3.143556e+06,2.661148e+06,1.385063e+07,1.055909e+07,4.849028e+06,3.918406e+06,3.720701e+06,2.569899e+06,3.693324e+03,...,2.090817e+06,4.447224e+06,1.170406e+07,1.315254e+07,1.515071e+07,1.821138e+06,1.135616e+07,1.268801e+07,1.449831e+07,1.687020e+06
std,4.299895e+07,9.316081e+06,9.038970e+06,3.771773e+07,1.918993e+07,1.113288e+07,9.435423e+06,1.516173e+07,6.483652e+06,2.916758e+04,...,5.027181e+06,1.238697e+07,3.864563e+07,3.869160e+07,3.932029e+07,5.889846e+06,3.853682e+07,3.859333e+07,3.920237e+07,5.767688e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.390155e+05,7.000000e+00,-1.000000e+00,2.665650e+04,-1.000000e+00,6.705191e+03,0.000000e+00,0.000000e+00,0.000000e+00,4.342195e-01,...,1.126258e+04,5.550071e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,3.158901e+07,8.100000e+01,2.500000e+01,9.741610e+05,4.756880e+05,2.068857e+05,6.994456e+04,2.755369e+04,1.749453e+04,5.090224e+00,...,1.842294e+05,2.429016e+05,1.123088e+06,1.733315e+06,1.841247e+06,0.000000e+00,1.010755e+06,1.265097e+06,1.300435e+06,0.000000e+00
75%,5.894302e+07,3.258600e+04,3.680000e+02,1.682557e+07,1.240182e+07,3.772793e+06,2.437667e+06,1.534908e+06,1.277478e+06,6.197419e+01,...,1.836120e+06,5.180522e+06,1.003842e+07,1.130000e+07,1.780602e+07,8.625629e+03,9.976622e+06,1.000000e+07,1.544484e+07,6.161843e+03
max,6.465660e+08,5.999985e+07,5.992242e+07,6.462877e+08,6.001097e+08,1.520000e+08,5.990000e+07,2.640000e+08,9.800000e+07,2.000000e+06,...,6.470000e+07,2.040000e+08,6.465660e+08,6.470000e+08,6.465660e+08,1.840000e+08,6.462877e+08,6.460000e+08,6.462877e+08,1.850000e+08

,duration,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,std_fiat,std_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,...,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04
mean,3.239793e+07,3.143556e+06,2.661148e+06,1.385063e+07,1.055909e+07,4.849028e+06,3.918406e+06,3.720701e+06,2.569899e+06,3.693324e+03,...,2.090817e+06,4.447224e+06,1.170406e+07,1.315254e+07,1.515071e+07,1.821138e+06,1.135616e+07,1.268801e+07,1.449831e+07,1.687020e+06
std,4.299895e+07,9.316081e+06,9.038970e+06,3.771773e+07,1.918993e+07,1.113288e+07,9.435423e+06,1.516173e+07,6.483652e+06,2.916758e+04,...,5.027181e+06,1.238697e+07,3.864563e+07,3.869160e+07,3.932029e+07,5.889846e+06,3.853682e+07,3.859333e+07,3.920237e+07,5.767688e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.390155e+05,7.000000e+00,-1.000000e+00,2.665650e+04,-1.000000e+00,6.705191e+03,0.000000e+00,0.000000e+00,0.000000e+00,4.342195e-01,...,1.126258e+04,5.550071e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,3.158901e+07,8.100000e+01,2.500000e+01,9.741610e+05,4.756880e+05,2.068857e+05,6.994456e+04,2.755369e+04,1.749453e+04,5.090224e+00,...,1.842294e+05,2.429016e+05,1.123088e+06,1.733315e+06,1.841247e+06,0.000000e+00,1.010755e+06,1.265097e+06,1.300435e+06,0.000000e+00
75%,5.894302e+07,3.258600e+04,3.680000e+02,1.682557e+07,1.240182e+07,3.772793e+06,2.437667e+06,1.534908e+06,1.277478e+06,6.197419e+01,...,1.836120e+06,5.180522e+06,1.003842e+07,1.130000e+07,1.780602e+07,8.625629e+03,9.976622e+06,1.000000e+07,1.544484e+07,6.161843e+03
max,6.465660e+08,5.999985e+07,5.992242e+07,6.462877e+08,6.001097e+08,1.520000e+08,5.990000e+07,2.640000e+08,9.800000e+07,2.000000e+06,...,6.470000e+07,2.040000e+08,6.465660e+08,6.470000e+08,6.465660e+08,1.840000e+08,6.462877e+08,6.460000e+08,6.462877e+08,1.850000e+08

In [29]:
d3.head()

,duration,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,std_fiat,std_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,76,-1,-1,-1,-1,0.0,0.0,0.0,0.0,26315.789474,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
1,54,-1,-1,-1,-1,0.0,0.0,0.0,0.0,37037.037037,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
2,67,-1,-1,-1,-1,0.0,0.0,0.0,0.0,29850.746269,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
3,75,-1,-1,-1,-1,0.0,0.0,0.0,0.0,26666.666667,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
4,14512571,14512571,-1,14512571,-1,14500000.0,0.0,0.0,0.0,0.206717,...,10300000.0,14512571,14500000.0,14512571,0.0,14512502,14500000.0,14512502,0.0,CHAT

,duration,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,std_fiat,std_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,76,-1,-1,-1,-1,0.0,0.0,0.0,0.0,26315.789474,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
1,54,-1,-1,-1,-1,0.0,0.0,0.0,0.0,37037.037037,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
2,67,-1,-1,-1,-1,0.0,0.0,0.0,0.0,29850.746269,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
3,75,-1,-1,-1,-1,0.0,0.0,0.0,0.0,26666.666667,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
4,14512571,14512571,-1,14512571,-1,14500000.0,0.0,0.0,0.0,0.206717,...,10300000.0,14512571,14500000.0,14512571,0.0,14512502,14500000.0,14512502,0.0,CHAT

In [30]:
d4 = pd.read_csv('TimeBasedFeatures-Dataset-120s-AllinOne.csv')