In [169]:
import numpy as np
import pandas as pd

In [170]:
import tensorflow as tf

In [73]:
combined = pd.read_csv('TimeBasedFeatures-Dataset-15s-AllinOne.csv')

In [74]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [75]:
combined_set = combined

In [76]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [77]:
combined_set.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [79]:
combined_set.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [80]:
for feature in combined_set.columns: # Loop through all columns in the dataframe
    if combined_set[feature].dtype == 'object': # Only apply for columns with categorical strings
        combined_set[feature] = pd.Categorical(combined_set[feature]).codes

In [81]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null int8
dtypes: float64(12), int64(11), int8(1)
memory usage: 3.3 MB

In [82]:
combined_set.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05,2.840655
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06,2.393398
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,2.000000
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00,6.000000
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08,6.000000

In [83]:
combined_set.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,1
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,1
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,1
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,1
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,1

In [84]:
data2 = combined_set

In [85]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null int8
dtypes: float64(12), int64(11), int8(1)
memory usage: 3.3 MB

In [86]:
data2.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05,2.840655
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06,2.393398
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,2.000000
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00,6.000000
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08,6.000000

In [89]:
data2.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,1
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,1
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,1
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,1
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,1

In [90]:
shuffled = data2.sample(frac=1)

In [91]:
predictors = shuffled.iloc[:,:-1]

In [92]:
predictors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18758 entries, 8820 to 483
Data columns (total 23 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
dtypes: float64(12), int64(11)
memory usage: 3.4 MB

In [93]:
predictors.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [95]:
predictors.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
8820,5203694,45,45,2364869,2364820,6.478478e+05,8.672823e+05,935316.481032,1.092151e+06,3.074739,...,3.469129e+05,7.404684e+05,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484
136,55283,-1,-1,-1,-1,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,36.177487,...,5.528300e+04,0.000000e+00,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
8454,14995339,19,40,1163309,789579,8.795973e+04,1.666149e+05,201916.730283,1.817265e+05,17.472096,...,5.745341e+04,1.184084e+05,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
17173,262893,44,16,262849,129881,1.314465e+05,6.494850e+04,185831.197627,9.182842e+04,22.822974,...,5.257860e+04,7.195393e+04,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
11140,10077331,10038477,10038586,10038477,10038586,1.000000e+07,1.000000e+07,0.000000,0.000000e+00,0.396930,...,3.359110e+06,5.750947e+06,10038477,10000000.0,10038477,0.000000,9999732,9999732.0,9999732,0.000000

In [96]:
predictors[:5]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
8820,5203694,45,45,2364869,2364820,6.478478e+05,8.672823e+05,935316.481032,1.092151e+06,3.074739,...,3.469129e+05,7.404684e+05,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484
136,55283,-1,-1,-1,-1,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,36.177487,...,5.528300e+04,0.000000e+00,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
8454,14995339,19,40,1163309,789579,8.795973e+04,1.666149e+05,201916.730283,1.817265e+05,17.472096,...,5.745341e+04,1.184084e+05,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
17173,262893,44,16,262849,129881,1.314465e+05,6.494850e+04,185831.197627,9.182842e+04,22.822974,...,5.257860e+04,7.195393e+04,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
11140,10077331,10038477,10038586,10038477,10038586,1.000000e+07,1.000000e+07,0.000000,0.000000e+00,0.396930,...,3.359110e+06,5.750947e+06,10038477,10000000.0,10038477,0.000000,9999732,9999732.0,9999732,0.000000

In [97]:
shuffled[:5]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
8820,5203694,45,45,2364869,2364820,6.478478e+05,8.672823e+05,935316.481032,1.092151e+06,3.074739,...,7.404684e+05,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484,2
136,55283,-1,-1,-1,-1,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,36.177487,...,0.000000e+00,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000,1
8454,14995339,19,40,1163309,789579,8.795973e+04,1.666149e+05,201916.730283,1.817265e+05,17.472096,...,1.184084e+05,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000,2
17173,262893,44,16,262849,129881,1.314465e+05,6.494850e+04,185831.197627,9.182842e+04,22.822974,...,7.195393e+04,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000,0
11140,10077331,10038477,10038586,10038477,10038586,1.000000e+07,1.000000e+07,0.000000,0.000000e+00,0.396930,...,5.750947e+06,10038477,10000000.0,10038477,0.000000,9999732,9999732.0,9999732,0.000000,6

In [101]:
combined[8820:8821]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
8820,5203694,45,45,2364869,2364820,647847.75,867282.333333,935316.481032,1.092151e+06,3.074739,...,740468.444947,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484,2

In [102]:
d1 = pd.read_csv('TimeBasedFeatures-Dataset-15s-AllinOne.csv')

In [103]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [104]:
d1.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [105]:
d1.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [106]:
d1[8820:8821]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
8820,5203694,45,45,2364869,2364820,647847.75,867282.333333,935316.481032,1.092151e+06,3.074739,...,740468.444947,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484,FT

In [107]:
d1[136:137]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
136,55283,-1,-1,-1,-1,0.0,0.0,0.0,0.0,36.177487,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT

In [108]:
d1[17173:17174]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
17173,262893,44,16,262849,129881,131446.5,64948.5,185831.197627,91828.422133,22.822974,...,71953.934163,-1,0.0,-1,0.0,-1,0.0,-1,0.0,BROWSING

In [109]:
d1[11140:11141]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
11140,10077331,10038477,10038586,10038477,10038586,10000000.0,10000000.0,0.0,0.0,0.39693,...,5.750947e+06,10038477,10000000.0,10038477,0.0,9999732,9999732.0,9999732,0.0,VOIP

In [110]:
targets = shuffled.iloc[:,-1]

In [112]:
targets.describe()

count    18758.000000
mean         2.840655
std          2.393398
min          0.000000
25%          0.000000
50%          2.000000
75%          6.000000
max          6.000000
Name: class1, dtype: float64

In [113]:
targets.head()

8820     2
136      1
8454     2
17173    0
11140    6
Name: class1, dtype: int8

In [114]:
targets[:5]

8820     2
136      1
8454     2
17173    0
11140    6
Name: class1, dtype: int8

In [115]:
trainsize = int(len(shuffled['class1']) * 0.8)

In [116]:
trainsize

15006

In [117]:
testsize = len(shuffled['class1']) - trainsize
npredictors = len(predictors.columns)
noutputs = 1
numiter = 10000
modelfile = '/tmp/trained_model'

In [119]:
testsize

3752

In [120]:
from __future__ import print_function
import numpy as np
import tensorflow as tf
from six.moves import cPickle as pickle
from six.moves import range

In [151]:
num_labels = 7
image_size = 23
def reformat(dataset, labels):
  dataset = dataset.values
  # Map 0 to [1.0, 0.0, 0.0 ...], 1 to [0.0, 1.0, 0.0 ...]
  labels = (np.arange(num_labels) == labels[:,None]).astype(np.float32)
  return dataset, labels
train_dataset, train_labels = reformat(predictors[:trainsize], targets[:trainsize])
valid_dataset, valid_labels = reformat(predictors[trainsize:trainsize + testsize / 2], targets[trainsize:trainsize + testsize / 2])
test_dataset, test_labels = reformat(predictors[trainsize + testsize / 2:], targets[trainsize + testsize / 2:])
print('Training set', train_dataset.shape, train_labels.shape)
print('Validation set', valid_dataset.shape, valid_labels.shape)
print('Test set', test_dataset.shape, test_labels.shape)

Training set (15006, 23) (15006, 7)
Validation set (1876, 23) (1876, 7)
Test set (1876, 23) (1876, 7)

In [152]:
train_dataset.info()

AttributeError: 'numpy.ndarray' object has no attribute 'info'

In [153]:
train_dataset.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [154]:
train_dataset.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [155]:
train_labels.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [164]:
train_subset = 15006
image_size = 23
num_labels = 7
graph = tf.Graph()
with graph.as_default():

  # Input data.
  # Load the training, validation and test data into constants that are
  # attached to the graph.
  tf_train_dataset = tf.constant(train_dataset[:train_subset, :].astype(np.float32))
  tf_train_labels = tf.constant(train_labels[:train_subset])
  tf_valid_dataset = tf.constant(valid_dataset.astype(np.float32))
  tf_test_dataset = tf.constant(test_dataset.astype(np.float32))
  
  # Variables.
  # These are the parameters that we are going to be training. The weight
  # matrix will be initialized using random valued following a (truncated)
  # normal distribution. The biases get initialized to zero.
  weights = tf.Variable(
    tf.truncated_normal([image_size, num_labels]))
  biases = tf.Variable(tf.zeros([num_labels]))
  
  # Training computation.
  # We multiply the inputs with the weight matrix, and add biases. We compute
  # the softmax and cross-entropy (it's one operation in TensorFlow, because
  # it's very common, and it can be optimized). We take the average of this
  # cross-entropy across all training examples: that's our loss.
  logits = tf.matmul(tf_train_dataset, weights) + biases
  loss = tf.reduce_mean(
    tf.nn.softmax_cross_entropy_with_logits(logits, tf_train_labels))
  
  # Optimizer.
  # We are going to find the minimum of this loss using gradient descent.
  optimizer = tf.train.GradientDescentOptimizer(0.5).minimize(loss)
  
  # Predictions for the training, validation, and test data.
  # These are not part of training, but merely here so that we can report
  # accuracy figures as we train.
  train_prediction = tf.nn.softmax(logits)
  valid_prediction = tf.nn.softmax(
    tf.matmul(tf_valid_dataset, weights) + biases)
  test_prediction = tf.nn.softmax(tf.matmul(tf_test_dataset, weights) + biases)

In [165]:


num_steps = 801

def accuracy(predictions, labels):
  return (100.0 * np.sum(np.argmax(predictions, 1) == np.argmax(labels, 1))
          / predictions.shape[0])

with tf.Session(graph=graph) as session:
  # This is a one-time operation which ensures the parameters get initialized as
  # we described in the graph: random weights for the matrix, zeros for the
  # biases. 
  tf.initialize_all_variables().run()
  print('Initialized')
  for step in range(num_steps):
    # Run the computations. We tell .run() that we want to run the optimizer,
    # and get the loss value and the training predictions returned as numpy
    # arrays.
    _, l, predictions = session.run([optimizer, loss, train_prediction])
    if (step % 100 == 0):
      print('Loss at step %d: %f' % (step, l))
      print('Training accuracy: %.1f%%' % accuracy(
        predictions, train_labels[:train_subset, :]))
      # Calling .eval() on valid_prediction is basically like calling run(), but
      # just to get that one numpy array. Note that it recomputes all its graph
      # dependencies.
      print('Validation accuracy: %.1f%%' % accuracy(
        valid_prediction.eval(), valid_labels))
  print('Test accuracy: %.1f%%' % accuracy(test_prediction.eval(), test_labels))

Initialized
Loss at step 0: 35486488.000000
Training accuracy: 5.2%
Validation accuracy: 24.3%
Loss at step 100: 3398100582400.000000
Training accuracy: 45.5%
Validation accuracy: 28.6%
Loss at step 200: 6067212779520.000000
Training accuracy: 43.3%
Validation accuracy: 44.6%
Loss at step 300: 3070349279232.000000
Training accuracy: 46.6%
Validation accuracy: 50.2%
Loss at step 400: 2485563424768.000000
Training accuracy: 52.6%
Validation accuracy: 45.1%
Loss at step 500: 3286940254208.000000
Training accuracy: 53.3%
Validation accuracy: 56.1%
Loss at step 600: 5597248880640.000000
Training accuracy: 44.5%
Validation accuracy: 49.9%
Loss at step 700: 5358901788672.000000
Training accuracy: 46.8%
Validation accuracy: 52.3%
Loss at step 800: 4368889282560.000000
Training accuracy: 29.8%
Validation accuracy: 51.8%
Test accuracy: 51.4%

In [167]:
batch_size = 128
image_size = 23
num_labels = 7
graph = tf.Graph()
train_dataset = train_dataset.astype(np.float32)
valid_dataset = valid_dataset.astype(np.float32)
test_dataset = test_dataset.astype(np.float32)
with graph.as_default():

  # Input data. For the training data, we use a placeholder that will be fed
  # at run time with a training minibatch.
  tf_train_dataset = tf.placeholder(tf.float32,
                                    shape=(batch_size, image_size))
  tf_train_labels = tf.placeholder(tf.float32, shape=(batch_size, num_labels))
  tf_valid_dataset = tf.constant(valid_dataset)
  tf_test_dataset = tf.constant(test_dataset)
  
  # Variables.
  weights = tf.Variable(
    tf.truncated_normal([image_size, num_labels]))
  biases = tf.Variable(tf.zeros([num_labels]))
  
  # Training computation.
  logits = tf.matmul(tf_train_dataset, weights) + biases
  loss = tf.reduce_mean(
    tf.nn.softmax_cross_entropy_with_logits(logits, tf_train_labels))
  
  # Optimizer.
  optimizer = tf.train.GradientDescentOptimizer(0.5).minimize(loss)
  
  # Predictions for the training, validation, and test data.
  train_prediction = tf.nn.softmax(logits)
  valid_prediction = tf.nn.softmax(
    tf.matmul(tf_valid_dataset, weights) + biases)
  test_prediction = tf.nn.softmax(tf.matmul(tf_test_dataset, weights) + biases)

In [168]:
num_steps = 3001

with tf.Session(graph=graph) as session:
  tf.initialize_all_variables().run()
  print("Initialized")
  for step in range(num_steps):
    # Pick an offset within the training data, which has been randomized.
    # Note: we could use better randomization across epochs.
    offset = (step * batch_size) % (train_labels.shape[0] - batch_size)
    # Generate a minibatch.
    batch_data = train_dataset[offset:(offset + batch_size), :]
    batch_labels = train_labels[offset:(offset + batch_size), :]
    # Prepare a dictionary telling the session where to feed the minibatch.
    # The key of the dictionary is the placeholder node of the graph to be fed,
    # and the value is the numpy array to feed to it.
    feed_dict = {tf_train_dataset : batch_data, tf_train_labels : batch_labels}
    _, l, predictions = session.run(
      [optimizer, loss, train_prediction], feed_dict=feed_dict)
    if (step % 500 == 0):
      print("Minibatch loss at step %d: %f" % (step, l))
      print("Minibatch accuracy: %.1f%%" % accuracy(predictions, batch_labels))
      print("Validation accuracy: %.1f%%" % accuracy(
        valid_prediction.eval(), valid_labels))
  print("Test accuracy: %.1f%%" % accuracy(test_prediction.eval(), test_labels))

Initialized
Minibatch loss at step 0: 16078197.000000
Minibatch accuracy: 7.0%
Validation accuracy: 48.0%
Minibatch loss at step 500: 9600000589824.000000
Minibatch accuracy: 49.2%
Validation accuracy: 46.5%
Minibatch loss at step 1000: 4072539160576.000000
Minibatch accuracy: 49.2%
Validation accuracy: 53.8%
Minibatch loss at step 1500: 24079776088064.000000
Minibatch accuracy: 50.0%
Validation accuracy: 51.0%
Minibatch loss at step 2000: 3906328068096.000000
Minibatch accuracy: 60.9%
Validation accuracy: 53.8%
Minibatch loss at step 2500: 2163304562688.000000
Minibatch accuracy: 51.6%
Validation accuracy: 56.0%
Minibatch loss at step 3000: 37930752016384.000000
Minibatch accuracy: 35.9%
Validation accuracy: 52.3%
Test accuracy: 53.7%