In [31]:
import numpy as np
import pandas as pd

In [32]:
import tensorflow as tf

In [33]:
d1 = pd.read_csv('TimeBasedFeatures-Dataset-15s.csv')

In [34]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [35]:
d1.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [36]:
d1.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [37]:
d2 = pd.read_csv('TimeBasedFeatures-Dataset-30s.csv')

In [38]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14651 entries, 0 to 14650
Data columns (total 24 columns):
duration              14651 non-null int64
total_fiat            14651 non-null int64
total_biat            14651 non-null int64
min_fiat              14651 non-null int64
min_biat              14651 non-null int64
max_fiat              14651 non-null float64
max_biat              14651 non-null float64
mean_fiat             14651 non-null float64
mean_biat             14651 non-null float64
flowPktsPerSecond     14651 non-null float64
flowBytesPerSecond    14651 non-null float64
min_flowiat           14651 non-null int64
max_flowiat           14651 non-null int64
mean_flowiat          14651 non-null float64
std_flowiat           14651 non-null float64
min_active            14651 non-null int64
mean_active           14651 non-null float64
max_active            14651 non-null int64
std_active            14651 non-null float64
min_idle              14651 non-null int64
mean_idle             14651 non-null float64
max_idle              14651 non-null int64
std_idle              14651 non-null float64
class1                14651 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.7+ MB

In [39]:
d2.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,14651.000000,...,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04,1.465100e+04
mean,1.629678e+07,1.150692e+06,1.116319e+06,5.764142e+06,5.091318e+06,1.848039e+06,1.710895e+06,1.449869e+06,1.179029e+06,3017.383680,...,1.032363e+06,1.922161e+06,5.176729e+06,6.049654e+06,7.150029e+06,1.081910e+06,4.871742e+06,5.655804e+06,6.650770e+06,9.828476e+05
std,1.925552e+07,4.111790e+06,4.017208e+06,1.344320e+07,1.218500e+07,4.959793e+06,4.295170e+06,5.477288e+06,3.541896e+06,22490.275511,...,2.855625e+06,4.853864e+06,1.613045e+07,1.630465e+07,1.706573e+07,4.046128e+06,1.602510e+07,1.619332e+07,1.691006e+07,3.956407e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.741740e+05,7.000000e+00,1.000000e+00,2.688400e+04,2.467850e+04,9.557019e+03,2.727024e+03,2.225135e+01,0.000000e+00,1.509018,...,9.562078e+03,6.291811e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.623262e+07,5.700000e+01,2.100000e+01,4.204580e+05,4.517050e+05,8.363527e+04,6.125850e+04,1.816745e+04,1.884018e+04,8.729889,...,1.165476e+05,1.440429e+05,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,2.977802e+07,1.105000e+03,4.675000e+02,8.848114e+06,8.907444e+06,9.150805e+05,9.044709e+05,1.048425e+06,1.007539e+06,100.541837,...,5.151427e+05,1.602566e+06,4.204065e+06,7.529336e+06,1.003973e+07,4.454761e+02,3.239750e+06,6.463314e+06,9.902900e+06,4.044638e+02
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [40]:
d2.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,22930417,18,4,10995965,10960941,314115.301370,360993.158730,1.306745e+06,1.389355e+06,6.018207,...,952994.511204,1491627,5.011278e+06,11141326,4.507600e+06,1079974,3.668800e+06,10945954,4.855368e+06,CHAT
1,25199304,16,4,11037969,10851858,359269.900000,387414.676923,1.373362e+06,1.392885e+06,5.436658,...,976395.388090,1710925,4.164396e+06,14269600,4.973926e+06,1234883,3.150269e+06,10851858,3.797336e+06,CHAT
2,29772995,17,7,4093396,3956161,261815.256637,310135.364583,6.445422e+05,6.512717e+05,7.086959,...,462297.947930,1363299,2.706523e+06,6192566,1.445372e+06,1147658,1.955468e+06,3956161,8.938483e+05,CHAT
3,29609149,22,6,3954677,3943698,271180.963303,287136.446602,6.685474e+05,6.590460e+05,7.227496,...,472527.270988,1443143,2.937555e+06,4176130,8.769669e+05,1065834,2.022585e+06,3895269,9.303813e+05,CHAT
4,7863522,30,8,2067690,2068091,244213.125000,252051.483871,5.718062e+05,5.628123e+05,8.266016,...,400581.170736,2092947,2.535199e+06,3282729,6.509928e+05,1707343,1.897912e+06,2017289,1.667869e+05,CHAT

In [41]:
d3 = pd.read_csv('TimeBasedFeatures-Dataset-60s.csv')

In [42]:
d3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15515 entries, 0 to 15514
Data columns (total 24 columns):
duration              15515 non-null int64
min_fiat              15515 non-null int64
min_biat              15515 non-null int64
max_fiat              15515 non-null int64
max_biat              15515 non-null int64
mean_fiat             15515 non-null float64
mean_biat             15515 non-null float64
std_fiat              15515 non-null float64
std_biat              15515 non-null float64
flowPktsPerSecond     15515 non-null float64
flowBytesPerSecond    15515 non-null float64
min_flowiat           15515 non-null int64
max_flowiat           15515 non-null int64
mean_flowiat          15515 non-null float64
std_flowiat           15515 non-null float64
min_active            15515 non-null int64
mean_active           15515 non-null float64
max_active            15515 non-null int64
std_active            15515 non-null float64
min_idle              15515 non-null int64
mean_idle             15515 non-null float64
max_idle              15515 non-null int64
std_idle              15515 non-null float64
class1                15515 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.8+ MB

In [43]:
d3.describe()

,duration,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,std_fiat,std_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,...,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04,1.551500e+04
mean,3.239793e+07,3.143556e+06,2.661148e+06,1.385063e+07,1.055909e+07,4.849028e+06,3.918406e+06,3.720701e+06,2.569899e+06,3.693324e+03,...,2.090817e+06,4.447224e+06,1.170406e+07,1.315254e+07,1.515071e+07,1.821138e+06,1.135616e+07,1.268801e+07,1.449831e+07,1.687020e+06
std,4.299895e+07,9.316081e+06,9.038970e+06,3.771773e+07,1.918993e+07,1.113288e+07,9.435423e+06,1.516173e+07,6.483652e+06,2.916758e+04,...,5.027181e+06,1.238697e+07,3.864563e+07,3.869160e+07,3.932029e+07,5.889846e+06,3.853682e+07,3.859333e+07,3.920237e+07,5.767688e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.390155e+05,7.000000e+00,-1.000000e+00,2.665650e+04,-1.000000e+00,6.705191e+03,0.000000e+00,0.000000e+00,0.000000e+00,4.342195e-01,...,1.126258e+04,5.550071e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,3.158901e+07,8.100000e+01,2.500000e+01,9.741610e+05,4.756880e+05,2.068857e+05,6.994456e+04,2.755369e+04,1.749453e+04,5.090224e+00,...,1.842294e+05,2.429016e+05,1.123088e+06,1.733315e+06,1.841247e+06,0.000000e+00,1.010755e+06,1.265097e+06,1.300435e+06,0.000000e+00
75%,5.894302e+07,3.258600e+04,3.680000e+02,1.682557e+07,1.240182e+07,3.772793e+06,2.437667e+06,1.534908e+06,1.277478e+06,6.197419e+01,...,1.836120e+06,5.180522e+06,1.003842e+07,1.130000e+07,1.780602e+07,8.625629e+03,9.976622e+06,1.000000e+07,1.544484e+07,6.161843e+03
max,6.465660e+08,5.999985e+07,5.992242e+07,6.462877e+08,6.001097e+08,1.520000e+08,5.990000e+07,2.640000e+08,9.800000e+07,2.000000e+06,...,6.470000e+07,2.040000e+08,6.465660e+08,6.470000e+08,6.465660e+08,1.840000e+08,6.462877e+08,6.460000e+08,6.462877e+08,1.850000e+08

In [44]:
d3.head()

,duration,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,std_fiat,std_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,76,-1,-1,-1,-1,0.0,0.0,0.0,0.0,26315.789474,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
1,54,-1,-1,-1,-1,0.0,0.0,0.0,0.0,37037.037037,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
2,67,-1,-1,-1,-1,0.0,0.0,0.0,0.0,29850.746269,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
3,75,-1,-1,-1,-1,0.0,0.0,0.0,0.0,26666.666667,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT
4,14512571,14512571,-1,14512571,-1,14500000.0,0.0,0.0,0.0,0.206717,...,10300000.0,14512571,14500000.0,14512571,0.0,14512502,14500000.0,14512502,0.0,CHAT

In [45]:
d4 = pd.read_csv('TimeBasedFeatures-Dataset-120s.csv')

In [46]:
d4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10782 entries, 0 to 10781
Data columns (total 24 columns):
duration              10782 non-null int64
total_fiat            10782 non-null int64
total_biat            10782 non-null int64
min_fiat              10782 non-null int64
min_biat              10782 non-null int64
max_fiat              10782 non-null float64
max_biat              10782 non-null float64
mean_fiat             10782 non-null float64
mean_biat             10782 non-null float64
flowPktsPerSecond     10782 non-null float64
flowBytesPerSecond    10782 non-null float64
min_flowiat           10782 non-null int64
max_flowiat           10782 non-null int64
mean_flowiat          10782 non-null float64
std_flowiat           10782 non-null float64
min_active            10782 non-null int64
mean_active           10782 non-null float64
max_active            10782 non-null int64
std_active            10782 non-null float64
min_idle              10782 non-null int64
mean_idle             10782 non-null float64
max_idle              10782 non-null int64
std_idle              10782 non-null float64
class1                10782 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 2.0+ MB

In [47]:
d4.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,...,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04,1.078200e+04
mean,4.458672e+07,4.176324e+06,3.415789e+06,1.665893e+07,1.494538e+07,6.432106e+06,5.805802e+06,4.357952e+06,4.045667e+06,9.325389e+03,...,2.849595e+06,5.712111e+06,1.244358e+07,1.523221e+07,1.854298e+07,3.138991e+06,1.219121e+07,1.484147e+07,1.790296e+07,2.983705e+06
std,5.233043e+07,1.340809e+07,1.233755e+07,2.950516e+07,2.452740e+07,1.447430e+07,1.335414e+07,1.143562e+07,8.697980e+06,4.407735e+04,...,5.808326e+06,1.089122e+07,2.924260e+07,2.972212e+07,3.188426e+07,8.525587e+06,2.910181e+07,2.958759e+07,3.161558e+07,8.333371e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,1.091752e+05,4.000000e+00,-1.000000e+00,2.110250e+03,-1.000000e+00,6.218500e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.769525e-01,...,4.997969e+03,2.294917e+02,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.029739e+07,5.800000e+01,1.500000e+01,7.642515e+05,4.907215e+05,1.542014e+05,6.425397e+04,2.691751e+04,2.168393e+04,4.322859e+00,...,1.954577e+05,1.971896e+05,1.076565e+06,1.592672e+06,1.606606e+06,0.000000e+00,1.007457e+06,1.307690e+06,1.343404e+06,0.000000e+00
75%,9.727100e+07,1.515750e+03,1.585000e+02,2.836737e+07,2.597356e+07,5.377123e+06,4.724002e+06,2.698405e+06,2.951522e+06,1.045584e+02,...,3.033684e+06,7.977454e+06,1.074709e+07,2.110000e+07,3.007670e+07,4.969294e+05,1.000867e+07,2.000000e+07,2.981672e+07,3.097686e+05
max,6.014050e+08,1.199997e+08,1.199996e+08,4.417303e+08,6.001097e+08,1.520000e+08,1.200000e+08,2.150000e+08,9.800000e+07,2.000000e+06,...,6.070000e+07,1.430000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [48]:
d4.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,117202678,17,4,35188437,35149142,4.742976e+05,5.578672e+05,2.502257e+06,2.693576e+06,3.916293,...,1.839548e+06,1363299,5.561680e+06,35334176,7.589073e+06,1079974,4.426667e+06,35137650,7.605741e+06,CHAT
1,119579137,16,4,35208950,35022877,5.108043e+05,5.410036e+05,2.582052e+06,2.634447e+06,3.821737,...,1.849452e+06,1443143,4.972742e+06,35280803,7.131588e+06,1065834,4.185795e+06,35022877,7.108954e+06,CHAT
2,90462788,20,5,24383019,24244301,9.812504e+05,1.145099e+06,3.866535e+06,4.125707e+06,1.912389,...,2.842532e+06,2757283,9.991859e+06,24613894,8.779228e+06,1297996,9.071855e+06,24244301,9.259661e+06,CHAT
3,65341087,18,5,26116331,25978548,6.873223e+05,7.503962e+05,3.213452e+06,3.322049e+06,2.815992,...,2.313499e+06,1566070,9.245735e+06,26194797,9.349672e+06,1197148,8.231822e+06,25978548,9.321698e+06,CHAT
4,119999180,29999272,29999277,30001029,30001305,3.000000e+07,3.000000e+07,8.268222e+02,1.154763e+03,0.075001,...,1.600000e+07,29999272,3.000000e+07,30001029,8.268222e+02,29944247,2.990000e+07,29944585,1.499153e+02,CHAT

In [49]:
d = pd.concat([d1, d2, d3, d4])

In [50]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59706 entries, 0 to 10781
Data columns (total 26 columns):
class1                59706 non-null object
duration              59706 non-null int64
flowBytesPerSecond    59706 non-null float64
flowPktsPerSecond     59706 non-null float64
max_active            59706 non-null int64
max_biat              59706 non-null float64
max_fiat              59706 non-null float64
max_flowiat           59706 non-null int64
max_idle              59706 non-null int64
mean_active           59706 non-null float64
mean_biat             59706 non-null float64
mean_fiat             59706 non-null float64
mean_flowiat          59706 non-null float64
mean_idle             59706 non-null float64
min_active            59706 non-null int64
min_biat              59706 non-null int64
min_fiat              59706 non-null int64
min_flowiat           59706 non-null int64
min_idle              59706 non-null int64
std_active            59706 non-null float64
std_biat              15515 non-null float64
std_fiat              15515 non-null float64
std_flowiat           59706 non-null float64
std_idle              59706 non-null float64
total_biat            44191 non-null float64
total_fiat            44191 non-null float64
dtypes: float64(16), int64(9), object(1)
memory usage: 12.3+ MB

In [51]:
d.describe()

,duration,flowBytesPerSecond,flowPktsPerSecond,max_active,max_biat,max_fiat,max_flowiat,max_idle,mean_active,mean_biat,...,min_fiat,min_flowiat,min_idle,std_active,std_biat,std_fiat,std_flowiat,std_idle,total_biat,total_fiat
count,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,...,5.970600e+04,5.970600e+04,5.970600e+04,5.970600e+04,1.551500e+04,1.551500e+04,5.970600e+04,5.970600e+04,4.419100e+04,4.419100e+04
mean,2.354579e+07,5.952545e+05,4.035707e+03,1.032545e+07,4.501731e+06,5.529608e+06,9.904144e+06,9.805129e+06,8.795202e+06,2.230827e+06,...,6.280895e+06,9.459300e+04,7.285392e+06,1.463446e+06,2.569899e+06,3.720701e+06,2.984009e+06,1.360736e+06,1.469561e+06,1.658833e+06
std,3.610462e+07,1.001471e+07,2.858908e+04,2.740981e+07,1.225373e+07,2.108388e+07,2.721030e+07,2.724509e+07,2.634682e+07,6.655083e+06,...,1.686330e+07,1.181398e+06,2.595500e+07,5.432289e+06,6.483652e+06,1.516173e+07,8.623463e+06,5.315973e+06,6.786040e+06,7.328097e+06
min,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,...,-1.000000e+00,-1.247000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00
25%,2.561600e+05,1.631624e+02,9.595023e-01,-1.000000e+00,4.411175e+02,9.487235e+03,3.276050e+04,-1.000000e+00,0.000000e+00,0.000000e+00,...,7.700000e+01,3.000000e+00,-1.000000e+00,0.000000e+00,NaN,NaN,5.494749e+03,0.000000e+00,NaN,NaN
50%,1.306654e+07,1.610018e+03,8.545710e+00,-1.000000e+00,1.056320e+05,1.602463e+05,8.034160e+05,-1.000000e+00,0.000000e+00,2.352847e+04,...,1.063090e+05,1.900000e+01,-1.000000e+00,0.000000e+00,NaN,NaN,1.374637e+05,0.000000e+00,NaN,NaN
75%,2.998854e+07,1.348525e+04,1.001268e+02,1.008053e+07,1.507473e+06,2.048926e+06,9.999372e+06,9.999372e+06,8.943174e+06,1.031864e+06,...,5.397908e+06,1.920000e+02,4.077253e+06,6.858399e+02,NaN,NaN,1.947242e+06,5.385290e+02,NaN,NaN
max,6.465660e+08,6.170000e+08,2.000000e+06,6.465660e+08,6.001097e+08,6.462877e+08,6.462877e+08,6.462877e+08,6.470000e+08,9.800000e+07,...,4.417303e+08,5.994770e+07,6.462877e+08,1.840000e+08,9.800000e+07,2.640000e+08,2.040000e+08,1.850000e+08,1.199996e+08,1.199997e+08

In [52]:
d.head()

,class1,duration,flowBytesPerSecond,flowPktsPerSecond,max_active,max_biat,max_fiat,max_flowiat,max_idle,mean_active,...,min_fiat,min_flowiat,min_idle,std_active,std_biat,std_fiat,std_flowiat,std_idle,total_biat,total_fiat
0,CHAT,9368711,4802.688438,10.353612,2195089,203290.456522,190205.285714,1523088,1523088,1.983656e+06,...,1564818,4,1234883,1.832197e+05,NaN,NaN,267600.198443,161096.539275,4.0,16.0
1,CHAT,7340238,4340.186245,11.580006,5653239,186914.846154,165686.977273,1517774,1517774,3.572433e+06,...,1567554,4,1131498,2.942704e+06,NaN,NaN,221462.862028,273138.379008,4.0,18.0
2,CHAT,4644225,4161.512416,11.412022,1758922,195302.130435,165865.178571,1079974,1079974,1.758922e+06,...,1270547,15,1079974,0.000000e+00,NaN,NaN,217475.425246,0.000000,15.0,29.0
3,CHAT,4978735,3918.666087,8.034169,3054885,276596.388889,239543.250000,2441990,2441990,2.382905e+06,...,2492050,8,1346073,9.503232e+05,NaN,NaN,436959.716436,774930.342317,8.0,19.0
4,CHAT,11838189,2802.540152,7.602514,3240696,295954.725000,243766.500000,3042717,3042717,2.400446e+06,...,3094089,10,1394455,6.232744e+05,NaN,NaN,436129.639296,725987.829075,10.0,19.0

In [53]:
d0 = pd.concat([d1, d2, d4])

In [54]:
d0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44191 entries, 0 to 10781
Data columns (total 24 columns):
duration              44191 non-null int64
total_fiat            44191 non-null int64
total_biat            44191 non-null int64
min_fiat              44191 non-null int64
min_biat              44191 non-null int64
max_fiat              44191 non-null float64
max_biat              44191 non-null float64
mean_fiat             44191 non-null float64
mean_biat             44191 non-null float64
flowPktsPerSecond     44191 non-null float64
flowBytesPerSecond    44191 non-null float64
min_flowiat           44191 non-null int64
max_flowiat           44191 non-null int64
mean_flowiat          44191 non-null float64
std_flowiat           44191 non-null float64
min_active            44191 non-null int64
mean_active           44191 non-null float64
max_active            44191 non-null int64
std_active            44191 non-null float64
min_idle              44191 non-null int64
mean_idle             44191 non-null float64
max_idle              44191 non-null int64
std_idle              44191 non-null float64
class1                44191 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 8.4+ MB

In [55]:
d0.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,...,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04,4.419100e+04
mean,2.043789e+07,1.658833e+06,1.469561e+06,7.382382e+06,6.549163e+06,2.608184e+06,2.375055e+06,1.902577e+06,1.638336e+06,4.155914e+03,...,1.239927e+06,2.470290e+06,6.133524e+06,7.265387e+06,8.631356e+06,1.337864e+06,5.856186e+06,6.907672e+06,8.157402e+06,1.246181e+06
std,3.278623e+07,7.328097e+06,6.786040e+06,1.868353e+07,1.610024e+07,8.264981e+06,7.495517e+06,7.200472e+06,5.218631e+06,2.838254e+04,...,3.558795e+06,6.752013e+06,1.962081e+07,2.008211e+07,2.147650e+07,5.256518e+06,1.951782e+07,1.997248e+07,2.128200e+07,5.143150e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,2.658060e+05,6.000000e+00,1.000000e+00,2.585000e+04,2.336800e+04,8.194621e+03,9.836667e+02,0.000000e+00,0.000000e+00,1.454890e+00,...,9.550875e+03,5.487888e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.204402e+07,6.000000e+01,1.900000e+01,3.534230e+05,3.425540e+05,7.394717e+04,4.792680e+04,1.577536e+04,1.464997e+04,9.682292e+00,...,1.056379e+05,1.173592e+05,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,2.200178e+07,1.361000e+03,5.510000e+02,7.608180e+06,7.546938e+06,9.601833e+05,9.503417e+05,9.171642e+05,8.663832e+05,1.007140e+02,...,5.070625e+05,1.486534e+06,4.122948e+06,6.965125e+06,1.000638e+07,1.870271e+02,3.208885e+06,5.773651e+06,8.908686e+06,1.873806e+02
max,6.014050e+08,1.199997e+08,1.199996e+08,4.417303e+08,6.001097e+08,1.520000e+08,1.200000e+08,2.150000e+08,9.800000e+07,2.000000e+06,...,6.070000e+07,1.430000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [56]:
d0.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [57]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [58]:
d1.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [59]:
d1.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [60]:
617 * 150 + 238 * 16

96358

In [61]:
data2 = d1

In [62]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [63]:
data2.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [64]:
data2.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [65]:
shuffled = data2.sample(frac=1)

In [67]:
predictors = shuffled.iloc[:,:-1]

In [68]:
predictors[:5]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
1645,14959875,1,62,8291016,8292094,5.089813e+05,7.479938e+05,1.572679e+06,1.846448e+06,3.409119,...,2.991975e+05,1.206172e+06,2003231,4.252055e+06,8295621,3.509183e+06,1001277,3.696876e+06,8290997,3.998537e+06
8205,13774634,2817923,336344,6655855,6313119,4.479072e+06,1.967805e+06,1.970238e+06,2.321635e+06,0.871167,...,1.252239e+06,2.054068e+06,2818547,4.479430e+06,6657117,1.970779e+06,2480010,4.131158e+06,6313119,1.970914e+06
16212,12986927,10,27,7744323,7744811,4.469534e+05,3.600359e+05,1.530997e+06,1.380988e+06,5.159034,...,1.967716e+05,1.024507e+06,1791775,4.288568e+06,7855966,3.170686e+06,1264372,4.020709e+06,7719019,3.328829e+06
13359,12133908,72,2,2885477,2884711,2.206121e+05,1.708864e+05,5.475238e+05,4.923270e+05,10.548951,...,9.554258e+04,3.745789e+05,1970819,3.994881e+06,6015286,2.022236e+06,1827374,2.204688e+06,2884470,5.898970e+05
17509,52394,21,30,44004,38486,8.728833e+03,8.723500e+03,1.754666e+04,1.494194e+04,267.206169,...,4.030308e+03,8.568432e+03,-1,0.000000e+00,-1,0.000000e+00,-1,0.000000e+00,-1,0.000000e+00

In [69]:
shuffled[:5]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
1645,14959875,1,62,8291016,8292094,5.089813e+05,7.479938e+05,1.572679e+06,1.846448e+06,3.409119,...,1.206172e+06,2003231,4.252055e+06,8295621,3.509183e+06,1001277,3.696876e+06,8290997,3.998537e+06,FT
8205,13774634,2817923,336344,6655855,6313119,4.479072e+06,1.967805e+06,1.970238e+06,2.321635e+06,0.871167,...,2.054068e+06,2818547,4.479430e+06,6657117,1.970779e+06,2480010,4.131158e+06,6313119,1.970914e+06,VPN-FT
16212,12986927,10,27,7744323,7744811,4.469534e+05,3.600359e+05,1.530997e+06,1.380988e+06,5.159034,...,1.024507e+06,1791775,4.288568e+06,7855966,3.170686e+06,1264372,4.020709e+06,7719019,3.328829e+06,VPN-BROWSING
13359,12133908,72,2,2885477,2884711,2.206121e+05,1.708864e+05,5.475238e+05,4.923270e+05,10.548951,...,3.745789e+05,1970819,3.994881e+06,6015286,2.022236e+06,1827374,2.204688e+06,2884470,5.898970e+05,BROWSING
17509,52394,21,30,44004,38486,8.728833e+03,8.723500e+03,1.754666e+04,1.494194e+04,267.206169,...,8.568432e+03,-1,0.000000e+00,-1,0.000000e+00,-1,0.000000e+00,-1,0.000000e+00,VPN-BROWSING

In [70]:
targets = shuffled.iloc[:,-1]

In [71]:
targets[:5]

1645               FT
8205           VPN-FT
16212    VPN-BROWSING
13359        BROWSING
17509    VPN-BROWSING
Name: class1, dtype: object

In [73]:
combined = pd.read_csv('TimeBasedFeatures-Dataset-15s-AllinOne.csv')

In [74]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [75]:
combined_set = combined

In [76]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [77]:
combined_set.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [79]:
combined_set.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [80]:
for feature in combined_set.columns: # Loop through all columns in the dataframe
    if combined_set[feature].dtype == 'object': # Only apply for columns with categorical strings
        combined_set[feature] = pd.Categorical(combined_set[feature]).codes

In [81]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null int8
dtypes: float64(12), int64(11), int8(1)
memory usage: 3.3 MB

In [82]:
combined_set.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05,2.840655
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06,2.393398
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,2.000000
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00,6.000000
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08,6.000000

In [83]:
combined_set.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,1
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,1
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,1
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,1
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,1

In [84]:
data2 = combined_set

In [85]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null int8
dtypes: float64(12), int64(11), int8(1)
memory usage: 3.3 MB

In [86]:
data2.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05,2.840655
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06,2.393398
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,2.000000
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00,6.000000
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08,6.000000

In [89]:
data2.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,1
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,1
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,1
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,1
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,1

In [90]:
shuffled = data2.sample(frac=1)

In [91]:
predictors = shuffled.iloc[:,:-1]

In [92]:
predictors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18758 entries, 8820 to 483
Data columns (total 23 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
dtypes: float64(12), int64(11)
memory usage: 3.4 MB

In [93]:
predictors.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [95]:
predictors.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
8820,5203694,45,45,2364869,2364820,6.478478e+05,8.672823e+05,935316.481032,1.092151e+06,3.074739,...,3.469129e+05,7.404684e+05,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484
136,55283,-1,-1,-1,-1,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,36.177487,...,5.528300e+04,0.000000e+00,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
8454,14995339,19,40,1163309,789579,8.795973e+04,1.666149e+05,201916.730283,1.817265e+05,17.472096,...,5.745341e+04,1.184084e+05,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
17173,262893,44,16,262849,129881,1.314465e+05,6.494850e+04,185831.197627,9.182842e+04,22.822974,...,5.257860e+04,7.195393e+04,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
11140,10077331,10038477,10038586,10038477,10038586,1.000000e+07,1.000000e+07,0.000000,0.000000e+00,0.396930,...,3.359110e+06,5.750947e+06,10038477,10000000.0,10038477,0.000000,9999732,9999732.0,9999732,0.000000

In [96]:
predictors[:5]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
8820,5203694,45,45,2364869,2364820,6.478478e+05,8.672823e+05,935316.481032,1.092151e+06,3.074739,...,3.469129e+05,7.404684e+05,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484
136,55283,-1,-1,-1,-1,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,36.177487,...,5.528300e+04,0.000000e+00,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
8454,14995339,19,40,1163309,789579,8.795973e+04,1.666149e+05,201916.730283,1.817265e+05,17.472096,...,5.745341e+04,1.184084e+05,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
17173,262893,44,16,262849,129881,1.314465e+05,6.494850e+04,185831.197627,9.182842e+04,22.822974,...,5.257860e+04,7.195393e+04,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000
11140,10077331,10038477,10038586,10038477,10038586,1.000000e+07,1.000000e+07,0.000000,0.000000e+00,0.396930,...,3.359110e+06,5.750947e+06,10038477,10000000.0,10038477,0.000000,9999732,9999732.0,9999732,0.000000

In [97]:
shuffled[:5]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
8820,5203694,45,45,2364869,2364820,6.478478e+05,8.672823e+05,935316.481032,1.092151e+06,3.074739,...,7.404684e+05,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484,2
136,55283,-1,-1,-1,-1,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,36.177487,...,0.000000e+00,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000,1
8454,14995339,19,40,1163309,789579,8.795973e+04,1.666149e+05,201916.730283,1.817265e+05,17.472096,...,1.184084e+05,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000,2
17173,262893,44,16,262849,129881,1.314465e+05,6.494850e+04,185831.197627,9.182842e+04,22.822974,...,7.195393e+04,-1,0.0,-1,0.000000,-1,0.0,-1,0.000000,0
11140,10077331,10038477,10038586,10038477,10038586,1.000000e+07,1.000000e+07,0.000000,0.000000e+00,0.396930,...,5.750947e+06,10038477,10000000.0,10038477,0.000000,9999732,9999732.0,9999732,0.000000,6

In [101]:
combined[8820:8821]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
8820,5203694,45,45,2364869,2364820,647847.75,867282.333333,935316.481032,1.092151e+06,3.074739,...,740468.444947,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484,2

In [102]:
d1 = pd.read_csv('TimeBasedFeatures-Dataset-15s-AllinOne.csv')

In [103]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18758 entries, 0 to 18757
Data columns (total 24 columns):
duration              18758 non-null int64
total_fiat            18758 non-null int64
total_biat            18758 non-null int64
min_fiat              18758 non-null int64
min_biat              18758 non-null int64
max_fiat              18758 non-null float64
max_biat              18758 non-null float64
mean_fiat             18758 non-null float64
mean_biat             18758 non-null float64
flowPktsPerSecond     18758 non-null float64
flowBytesPerSecond    18758 non-null float64
min_flowiat           18758 non-null int64
max_flowiat           18758 non-null int64
mean_flowiat          18758 non-null float64
std_flowiat           18758 non-null float64
min_active            18758 non-null int64
mean_active           18758 non-null float64
max_active            18758 non-null int64
std_active            18758 non-null float64
min_idle              18758 non-null int64
mean_idle             18758 non-null float64
max_idle              18758 non-null int64
std_idle              18758 non-null float64
class1                18758 non-null object
dtypes: float64(12), int64(11), object(1)
memory usage: 3.4+ MB

In [104]:
d1.describe()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,mean_flowiat,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle
count,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,18758.000000,...,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04,1.875800e+04
mean,9.791705e+06,6.086783e+05,6.267802e+05,3.314204e+06,2.861716e+06,1.003929e+06,9.218250e+05,8.448286e+05,6.133578e+05,2073.780095,...,4.768167e+05,1.035025e+06,3.253846e+06,3.635654e+06,4.091204e+06,5.025001e+05,2.983753e+06,3.325142e+06,3.732466e+06,4.531389e+05
std,1.438458e+07,2.243195e+06,2.326442e+06,1.062115e+07,9.652561e+06,3.141855e+06,2.495984e+06,4.336559e+06,2.516395e+06,19115.713624,...,1.404428e+06,3.534085e+06,1.342955e+07,1.356162e+07,1.400211e+07,2.813959e+06,1.334323e+07,1.347430e+07,1.390155e+07,2.785573e+06
min,0.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
25%,3.346690e+05,7.000000e+00,2.000000e+00,2.597050e+04,2.454225e+04,1.154333e+04,5.626786e+03,1.145469e+02,0.000000e+00,2.599190,...,9.577449e+03,5.574602e+03,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
50%,1.109263e+07,6.200000e+01,2.100000e+01,2.821430e+05,2.865800e+05,5.104959e+04,3.526250e+04,1.164916e+04,9.605910e+03,11.681220,...,8.412602e+04,7.518175e+04,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00
75%,1.494537e+07,1.645000e+03,1.651000e+03,4.289454e+06,4.265465e+06,5.260302e+05,4.843726e+05,6.055940e+05,5.340370e+05,100.671695,...,3.119330e+05,7.659213e+05,2.767727e+06,4.248512e+06,5.690602e+06,0.000000e+00,1.943930e+06,3.333185e+06,4.696002e+06,0.000000e+00
max,6.014050e+08,3.768079e+07,4.300238e+07,3.035957e+08,6.001097e+08,1.520000e+08,4.300000e+07,2.150000e+08,9.800000e+07,1000000.000000,...,6.070000e+07,1.360000e+08,6.014050e+08,6.010000e+08,6.014050e+08,1.680000e+08,6.001097e+08,6.000000e+08,6.001097e+08,1.680000e+08

In [105]:
d1.head()

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
0,9368711,16,4,1564818,1549373,190205.285714,203290.456522,389822.391917,370323.719754,10.353612,...,267600.198443,1871488,1.983656e+06,2195089,1.832197e+05,1234883,1420565.0,1523088,161096.539275,CHAT
1,7340238,18,4,1567554,1527893,165686.977273,186914.846154,317267.548742,304370.651301,11.580006,...,221462.862028,1491627,3.572433e+06,5653239,2.942704e+06,1131498,1324636.0,1517774,273138.379008,CHAT
2,4644225,29,15,1270547,1079974,165865.178571,195302.130435,329473.126261,300492.588227,11.412022,...,217475.425246,1758922,1.758922e+06,1758922,0.000000e+00,1079974,1079974.0,1079974,0.000000,CHAT
3,4978735,19,8,2492050,2457286,239543.250000,276596.388889,612435.304238,628339.573544,8.034169,...,436959.716436,1710925,2.382905e+06,3054885,9.503232e+05,1346073,1894031.5,2441990,774930.342317,CHAT
4,11838189,19,10,3094089,3093543,243766.500000,295954.725000,599721.781709,625632.703972,7.602514,...,436129.639296,1747431,2.400446e+06,3240696,6.232744e+05,1394455,1983227.0,3042717,725987.829075,CHAT

In [106]:
d1[8820:8821]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
8820,5203694,45,45,2364869,2364820,647847.75,867282.333333,935316.481032,1.092151e+06,3.074739,...,740468.444947,1875848,2225396.0,2574944,494335.522299,1875144,2119960.0,2364776,346222.107484,FT

In [107]:
d1[136:137]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
136,55283,-1,-1,-1,-1,0.0,0.0,0.0,0.0,36.177487,...,0.0,-1,0.0,-1,0.0,-1,0.0,-1,0.0,CHAT

In [108]:
d1[17173:17174]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
17173,262893,44,16,262849,129881,131446.5,64948.5,185831.197627,91828.422133,22.822974,...,71953.934163,-1,0.0,-1,0.0,-1,0.0,-1,0.0,BROWSING

In [109]:
d1[11140:11141]

,duration,total_fiat,total_biat,min_fiat,min_biat,max_fiat,max_biat,mean_fiat,mean_biat,flowPktsPerSecond,...,std_flowiat,min_active,mean_active,max_active,std_active,min_idle,mean_idle,max_idle,std_idle,class1
11140,10077331,10038477,10038586,10038477,10038586,10000000.0,10000000.0,0.0,0.0,0.39693,...,5.750947e+06,10038477,10000000.0,10038477,0.0,9999732,9999732.0,9999732,0.0,VOIP

In [110]:
targets = shuffled.iloc[:,-1]

In [112]:
targets.describe()

count    18758.000000
mean         2.840655
std          2.393398
min          0.000000
25%          0.000000
50%          2.000000
75%          6.000000
max          6.000000
Name: class1, dtype: float64

In [113]:
targets.head()

8820     2
136      1
8454     2
17173    0
11140    6
Name: class1, dtype: int8

In [114]:
targets[:5]

8820     2
136      1
8454     2
17173    0
11140    6
Name: class1, dtype: int8

In [115]:
trainsize = int(len(shuffled['class1']) * 0.8)

In [116]:
trainsize

15006

In [117]:
testsize = len(shuffled['class1']) - trainsize
npredictors = len(predictors.columns)
noutputs = 1
numiter = 10000
modelfile = '/tmp/trained_model'

In [119]:
testsize

3752

In [120]:
from __future__ import print_function
import numpy as np
import tensorflow as tf
from six.moves import cPickle as pickle
from six.moves import range

In [ ]:
num_labels = 7

def reformat(dataset, labels):
  dataset = dataset.astype(np.float32)
  # Map 0 to [1.0, 0.0, 0.0 ...], 1 to [0.0, 1.0, 0.0 ...]
  labels = (np.arange(num_labels) == labels).astype(np.float32)
  return dataset, labels
train_dataset, train_labels = reformat(predictors[:trainsize], targets[:trainsize])
valid_dataset, valid_labels = reformat(predictors[trainsize:trainsize + testsize / 2], targets[trainsize:trainsize + testsize / 2])
test_dataset, test_labels = reformat(predictors[trainsize + testsize / 2:], targets[trainsize + testszie / 2:])
print('Training set', train_dataset.shape, train_labels.shape)
print('Validation set', valid_dataset.shape, valid_labels.shape)
print('Test set', test_dataset.shape, test_labels.shape)